zolvit_assignment_ma23m006/free_extract/myenv
zolvit_assignment_ma23m006/free_extract/app_fin_rough.py
/Volumes/my_space/VSCODE/LLM starting/invoice_extract_2/extract_free/zolvit_assignment_ma23m006/free_extract/app_rough.py
/Volumes/my_space/VSCODE/LLM starting/invoice_extract_2/extract_free/zolvit_assignment_ma23m006/free_extract/INV-121_Jitesh Soni.pdf
/Volumes/my_space/VSCODE/LLM starting/invoice_extract_2/extract_free/zolvit_assignment_ma23m006/free_extract/INV-128_Atia Latif.pdf
myenv